# Cloudflare settings
PROJECT_NAME=afraid-atmosphere
COMPATIBILITY_DATE=2026-06-30

# D1 Database settings
D1_BINDING=DB
D1_DATABASE_NAME=cms-db
D1_DATABASE_ID=local-setup-only-replace-on-production
D1_REMOTE=false

# Firebase settings
FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=your_auth_domain
FIREBASE_PROJECT_ID=your_project_id
