# Cloudflare settings
PROJECT_NAME=afraid-atmosphere
COMPATIBILITY_DATE=2026-06-30

# D1 Database settings (CMS)
D1_BINDING=DB
D1_DATABASE_NAME=cms-db
D1_DATABASE_ID=local-setup-only-replace-on-production
D1_REMOTE=false

# D1 Database settings (Users)
USER_DB_BINDING=USER_DB
USER_DB_DATABASE_NAME=user-db
USER_DB_DATABASE_ID=local-setup-only-replace-on-production
USER_DB_REMOTE=false

# Firebase settings (Local)
FIREBASE_API_KEY=your_api_key
FIREBASE_AUTH_DOMAIN=your_auth_domain
FIREBASE_PROJECT_ID=your_project_id
