---
export const prerender = false;
import Layout from '../themes/vnvda/layouts/Layout.astro';
import Header from '../themes/vnvda/components/Header.astro';
import Footer from '../themes/vnvda/components/Footer.astro';
import UserAccount from '../components/UserAccount.vue';
---

<Layout title="Your Account | Hội Bệnh Mạch Máu Việt Nam">
	<Header />
    <main>
        <h1>Your Account</h1>
        <UserAccount client:only="vue" />
    </main>
	<Footer />
</Layout>

<style>
    main { max-width: 800px; margin: 2rem auto; padding: 1rem; flex: 1; width: 100%; }
</style>
