---
import '../styles/theme.css';
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="vi">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hội Bệnh Mạch Máu Việt Nam (vnvda.com) - Trang chính thức của Hội bệnh mạch máu Việt Nam" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="https://vnvda.com/wp-content/uploads/2024/05/vnvda-favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
